html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
.space{
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    border: 1px solid #DDDDDD;
    float: left;
}
.fruit{
    background-color: #EAC435;
}
.snake1{
    background-color: #212922;
}
.snake2{
    background-color: #294936;
}
.snake3{
    background-color: #3E6259;
}
.snake4{
    background-color: #5B8266;
}
.snake5{
    background-color: #464E47;
}
.snake6{
    background-color: #644536;
}
.board{
    width: 480px;
    height: 480px;
    padding: 0;
	margin: 20px auto;
	text-align: center;
}
.msg{
	width: 480px;
    height: 480px;
    padding: 0;
	margin: 20px auto;
	text-align: center;
}
.again{
	display: inline-block;
	vertical-align: middle;
	padding:10px;	
}
.again:hover{
	color:white;
	background-color: black;
}
body{
	text-align: center;
	margin:30px auto;
}
h1{
	font-size: 42px;
}


